*.pyc
*~
*.scssc
*.swp
*.orig
*.DS_Store
:2e_*
:2e#
.AppleDouble
database.sqlite
courseware/static/js/mathjax/*
db.newaskbot
db.oldaskbot
flushdb.sh
build
.coverage
coverage.xml
cover/
log/
reports/
/src/
\#*\#
/venv/
*.egg-info
.idea/
conf.d/conf.d/*.json
graders/
!/graders/test.py
!/graders/s_spoon.py
!/graders/s_chainme.py
